<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/study"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.components.bilibili.activity.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.BannerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.PhnoeActivity"
            android:exported="false" />
        <activity
            android:name=".feed.activity.FeedStreamHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.bilibili.activity.SharedPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.bilibili.activity.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.bilibili.activity.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.bilibili.activity.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.bilibili.activity.ViewModelTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.bilibili.activity.CommonControlActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReturnActivity"
            android:exported="false"
            android:theme="@style/TranslucentStyle" />
        <activity
            android:name=".recharge.activity.FlipPage"
            android:exported="false"
            android:theme="@style/TranslucentStyle" />
        <activity
            android:name=".activity.components.VariousTextviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.RechargePageActivity"
            android:exported="false" />
        <activity android:name=".activity.components.ThirdActivity" />
        <activity android:name=".activity.components.FourthActivity" />
        <activity android:name=".activity.components.WebViewActivity" />
        <activity android:name=".activity.components.CustomActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>